body {
    width: 600px;
    text-align: center;
}
hr {
    height: 8px;
    color: #00FF00;
}
nav {
    margin: 2cm 2cm 2cm 2cm;
    padding-right: 20px;
    padding-left: 20px;
}
 a:hover {
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}
}
