body {
width: 900px;
margin-left:auto;
margin-right:auto;
}v.Maincontent{
   {
    width: 600px;
    float: right;
    }.siden
div.sidenav {
    float: leftv.secti

{
{
mar
{

 margin-right:auto;   
}

#Menu1
{
 marar iirrmargin-left
{
 margin-left:auto;
 margin-right:auto;
}