body {
width: 900px;
margin-left:auto;
margin-right:auto;
}
div.Maincontent
{
    width: 600px;
    float: right;
    }
div.sidenav {
    float: left}
h1
{
    text-align:center;
}
div.section #Menu1
{
    text-align:center;
}