body {
width: 900px;
margin-left:auto;
margin-right:auto;
}
#ContentPlaceHolder1
{
    width: 600px;
    float: right;
    }
.Tree {
    float: left}
h1
{
text-align:center;
}
.MainMenu
{
    text-align:center;
}